<% if @trains and @trains['trainServices'].nil? %>
	<p>Sorry, no train information for that journey</p>
	<p>Please note, this service works with direct journeys and trains scheduled in the next few hours</p>
<% end %>

<% if @trains and @trains != [] and @trains['trainServices'] %>
	<table>
  <% if @departing %>
		<tr><th>Time</th><th>Destination</th><th>Status</th><th>Platform</th></tr>
		<% @trains['trainServices'].each do |train| %>
	    <% alert = ' style="color:#990000;font-weight:bold;"' if ((train['etd'] != 'On time') and (train['etd'] != 'Starts here')) %>
	    <%= "<tr#{alert}><td>#{train['std']}</td><td>#{train['destination'].last['locationName']}</td><td><a href=\"/service?service=#{train['serviceID']}\">#{train['etd']}</a></td><td>#{train['platform']}</td></tr>".html_safe %>
	  <% end %>
  <% else %>
		<tr><th>Time</th><th>Origin</th><th>Status</th><th>Platform</th></tr>
		<% @trains['trainServices'].each do |train| %>
	    <% alert = ' style="color:#990000;font-weight:bold;"' if (train['eta'] != 'On time') %>
	    <%= "<tr#{alert}><td>#{train['sta']}</td><td>#{train['origin'].last['locationName']}</td><td><a href=\"/service?service=#{train['serviceID']}\">#{train['eta']}</a></td><td>#{train['platform']}</td></tr>".html_safe %>
	  <% end %>
  <% end %>

	</table>
	<img src="/images/nre.png" alt="Powered by National Rail Enquiries">
<% end %>
