<p id="type"><a href="/">Departures</a> <a href="/arrivals">Arrivals</a></p>

<h3>Privacy Policy</h3>
<p>No data is collected on the Android app. Some analytics data (such as IP/Browser) is collected on the website.</p>
