<% provide(:title, "Squares") %>
<% provide(:description, "The game known as: Dots and Boxes, Paddocks, Pigs in a Pen, Smart Dots, Square-it, Dot boxing") %>

<h1>Squares</h1>

<canvas id="canvas" width="900" height="300px"></canvas>

<script type="text/javascript">
var canvas = document.getElementById('canvas');
var ctx = canvas.getContext('2d');

</script>