<% provide(:title, "To Do") %>
<% provide(:description, "A list of things just to add to the site") %>

<h1>To Do</h1>

<ul>
	<li>set up rspec and write tests, include rcov report on site</li>
	<li>have a way to submit issues in github</li>
	<li>/wall - Post score</li>
	<li>/localtags - a place to tag things in locations</li>
	<li>jykyllandhyde.dyl.anjon.es - just the landing page</li>
	<li>/ontherun - examples from the hackday</li>
	<li>/jewellery - post the message</li>
	<li>/speak - TTS api</li>
	<li>cleversounds.dyl.anjon.es - examples up along with blog post of how it works</li>
	<li>API methods to add to documentation page</li>
	<li>New projects: St John App, BBC heart Twitter</li>
	<li>Sitemap</li>
	<li>Github feed</li>
	<li>Aggregate view of all feeds with map (/stream)</li>
	<li>Add iPlayer episode page</li>
	<li>Add train journeys page</li>
	<li>Bar charts for time statistics with correct axes</li>
	<li>Write more blog posts: BT - 1 year on, St John Mobile application, going to hack days</li>
	<li>/onradio - bbc now playing</li>
	<li>When facebook is used, create a user account</li>
	<li>When lastfm is used, create a user account</li>
	<li>Add scrobble to and post to Facebook as settings</li>
	<li><strike>flash messages - swap to login/logout from sign in / sign out</strike></li>
	<li><strike>Favicon</strike></li>
	<li><strike>/friendmap - Facebook friends on a map</strike></li>
	<li><strike>/foebook - angry peoples public facebook posts</strike></li>
	<li><strike>/browserwars - use ruby gem</strike></li>
	<li><strike>/tweets/map - map the tweets</strike></li>
	<li><strike>project hit counter to everthing</strike></li>
	<li><strike>/musicwall - Facebook friends music</strike></li>
	<li><strike>/location - my location</strike></li>
	<li><strike>/drop - drag and drop file storage</strike></li>
</ul>
