<% provide(:title, "About Me") %>

<h1>About Me</h1>

<section class="row">

	<article class="col-md-4">
		<p class="lead">A web developer/software engineer at BT who is addicted to salt and vinegar pringles.</p>
	</article>
	
	<article class="col-md-4">
		<h4>Background</h4>
		<p>Hello, I am Dylan Jones from Llandrindod Wells. I went to York &amp; Leeds university to study Electronic &amp; Communications Engineering.</p>
	</article>

	<article class="col-md-4">
		//some map here with a key of places I have lived
	</article>

	<article class="col-md-4">
		<h4>Work</h4>
		<p>I joined the BT software engineering graduate scheme after my <abbr title="Bachel of Engineering">BEng</abbr> degree in 2012.</p>
		<p>I work in Cardiff in the 'Asset Management &amp; Monitoring' software development team developing tools to look after the BT IT estate.</p>
	</article>

	<article class="col-md-4">
		<h4>Hobbies</h4>
		<p>Things I like doing in my spare time are: going to hack days, bicycling, using APIs, eating, going on trains, running and cooking.</p>
	</article>

	<article class="col-md-4">
		<h4>Skills</h4>
		<ul>
			<li>Ruby</li>
			<li>CSS</li>
			<li>JavaScript</li>
			<li>PHP</li>
			<li>Arduino</li>
			<li>API Integration</li>
		</ul>
	</article>

</section>
