<% provide(:title, "Contact") %>

<h2>Contact</h2>
<section>
	<p>You can get in touch with the production team</p>
	<p class="big"><a href="mailto:centralhall@yusu.org" title="Email">centralhall@yusu.org</a></p>
</section>
