<% provide(:title, "Events") %>

<section>
	<p><img src="http://graph.facebook.com/262804887093563/picture?type=large"></p>
		<p class="big"><a href="http://www.facebook.com/event.php?eid=262804887093563" title="Facebook Event Page">Wicked Witch&#039;s Halloween Party</a></p>
		<p class="big">Pitcher and Piano York :: <time title='7:00pm Monday, 31st October 2011 GMT' datetime='2011-10-31T19:00:00+00:00'>2 years ago</time></p>
	</article>
</section>