<% provide(:title, "9th - 11th February, 2012") %>

<q>Dreams come true, not free</q>
<section>
	<p class="big">
		9th - 11th February, 2012
		<br>
		<time title="9th February, 2012" datetime="2012-02-09T19:30:00+00:00">Thursday</time>,
		<time title="10th February, 2012" datetime="2012-02-10T19:30:00+00:00">Friday</time>,
		and <time title="11th February, 2012" datetime="2012-02-11T19:30:00+00:00">Saturday</time>
		<br>
		Week 5, Spring Term
	</p>
	<p>Central Hall, University of York</p>
</section>
<iframe src="//www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2Fpages%2FYork-Central-Hall-Musical-Society-presents-Sondheims-Into-The-Woods%2F261017277251933&amp;width=292&amp;colorscheme=light&amp;show_faces=true&amp;border_color&amp;stream=false&amp;header=false&amp;height=258" scrolling="no" frameborder="0" style="border:none;overflow:hidden;width:292px;height:258px;margin-top:20px;" allowTransparency="true"></iframe>