<% provide(:title, "Synopsis") %>

<h2>Synopsis</h2>
<section>
	<p>&#39;Into The Woods&#39; brings to musical life various well-known fairytales. Alongside these traditional tales, we&#39;re introduced to the story of a baker and his wife, whose longing for a child is thwarted by a mischievous witch who lives next door.<p>
	<p>Each fairytale character has their own reason for entering the woods, be it to go to the festival, to sell their cow, or to break a curse. One by one, the characters appear to have found their &#39;happily ever after&#39;, yet all too quickly the costs of their fairytale endings become apparent.</p>
	<p>Sometimes the things most wished for are not as they might first have seemed.</p>
</section>