<% provide(:title, "Hereford Samaritans Video") %>

<h1>Hereford Samaritans Video</h1>
<section class="row">
	<article class="col-md-8">
		<video width="572" height="325" controls="controls">
			<source src="/uploads/sams-low.webm" type="video/webm">
			<source src="/uploads/sams-low.mp4" type="video/mp4">
			Your browser does not support the video tag.
		</video>
	</article>
	<article class="col-md-4 well text-center">
		<p>
			This video was created to celebrate the 40th year of the Samaritans branch in Hereford. It was filmed and edited by me with direction from Gemma Miles-Jones.
		</p>
		<p>
			<a href="/uploads/sams-med.mp4" title="95.7MB" class="btn btn-danger">Download HQ Version (95.7MB)</a>
		</p>
	</article>
</section>