<% provide(:title, "St John Wales First Aid App") %>
<% provide(:description, "I made the iOS and Android St John Wales First Aid App") %>

<h1>St John Wales - First Aid App</h1>

<section class="row">
	<article class="col-md-9">
		<p>Within a couple of months starting with BT at Ty Tynnal, I volunteered to develop a mobile application for St John Wales.</p>
		<p>Along with 2 other newbies (Jordan and Nia), we worked on making an iOS and Android bilingual (Welsh &amp; English) First Aid reference guide.</p>

		<h4>Download it now!</h4>
		<p class="lead">
			<a href="http://bit.ly/sjw-ios" class="btn btn-primary"><%= icon("apple") %> Apple App Store</a>
			<a href="http://bit.ly/sjw-android" class="btn btn-danger"><%= icon("android") %> Google Play</a>
		</p>

		<h4>Screenshots</h4>
		<img src="/images/first-aid-ios-2.png" class="img-thumbnail" style="width:170px;height:250px">
		<img src="/images/first-aid-ios-3.png" class="img-thumbnail" style="width:170px;height:250px">
		<img src="/images/first-aid-android-1.png" class="img-thumbnail" style="width:170px;height:250px">
		<img src="/images/first-aid-android-2.png" class="img-thumbnail" style="width:170px;height:250px">

	</article>
	<article class="col-md-3">
		<img src="/images/first-aid-ios-1.png" class="img-thumbnail">
	</article>
</section>
<hr>
<section class="row">
	<article class="col-md-4">
		<h4>Features</h4>
		<ul>
			<li>The app provides first aid reference material, aimed towards the farming industry</li>
			<li>All content in English and Welsh</li>
			<li>100% of content works offline, in the hills of rural Wales</li>
			<li>A quiz to test your knowledge</li>
			<li>Videos, timers, audio guides, images</li>
			<li>Information about St John Wales Cymru and links to get in touch</li>
		</ul>
	</article>
	<article class="col-md-4">
		<h4>Supported by</h4>
		<ul>
			<li><a href="http://www.bt.com/">BT</a></li>
			<li><a href="http://www.nfu-cymru.org.uk/">National Farmers Union Wales</a></li>
			<li><a href="http://www.yfc-wales.org.uk/">Young Farmers Club Wales</a></li>
			<li><a href="http://www.fuw.org.uk/">Farmers Union Wales</a></li>
		</ul>
	</article>
	<article class="col-md-4">
		<h4>Press</h4>

	</article>
</section>