<% provide(:title, "Luxury Lollipops: Make A Request") %>
<% provide(:description, "Request some Homemade and Hand Wrapped Luxurious Lollipops for any occasion.") %>
<p>Please feel free to get in touch:</p>
<p class="lead">
  <a href="mailto:gemma@luxurylollipops.com">
    <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
    gemma@luxurylollipops.com
  </a>
</p>
