<% provide(:title, "Luxury Lollipops") %>
<% provide(:description, "Homemade and Hand Wrapped Luxurious Lollipops for any occasion.") %>
<div class="jumbotron">
  <h1 class="font">Luxury Lollipops</h1>
  <p class="lead">Homemade and Hand Wrapped Luxurious Lollipops for any occasion.</p>
  <p><a href="/take-a-look" class="btn btn-lg btn-default">Take a Look</a></p>
</div>
<div class="row marketing">
  <div class="col-lg-4">
    <h2 class="font">Perfect for</h2>
    <ul>
      <li>Weddings</li>
      <li>Gifts</li>
      <li>Nights out</li>
    </ul>
  </div>
  <div class="col-lg-4">
    <h2 class="font">Delicious flavours</h2>
    <ul>
      <li>Prosecco</li>
      <li>Strawberry</li>
      <li>Lime</li>
    </ul>
  </div>
</div>
