<% provide(:title, "Luxury Lollipops") %>
<% provide(:description, "Homemade and Hand Wrapped Luxurious Lollipops for any occasion.") %>
<div class="jumbotron">
  <h1 class="font">Luxury Lollipops</h1>
  <p class="lead">Homemade and Hand Wrapped Luxurious Lollipops for any occasion.</p>
</div>
<div class="row marketing">
  <div class="col-md-4">
    <img src="/images/lollipop/lollipops.jpg" class="img-circle img-responsive">
    <h2 class="font">Perfect for</h2>
    <ul>
      <li>Weddings</li>
      <li>Gifts</li>
      <li>Nights out</li>
    </ul>
  </div>
  <div class="col-md-4">
    <img src="/images/lollipop/champagne.jpg" class="img-circle img-responsive">
    <h2 class="font">Delicious flavours</h2>
    <ul>
      <li>Prosecco</li>
      <li>Strawberry</li>
      <li>Lime</li>
    </ul>
  </div>
  <div class="col-md-4">
    <img src="/images/lollipop/cook.jpg" class="img-circle img-responsive">
    <h2 class="font">Handmade</h2>
    <ul>
      <li>Made by hand</li>
      <li>Wrapped by hand</li>
      <li>Sent by hand</li>
    </ul>
  </div>
</div>
