<% provide(:title, "Luxury Lollipops") %>
<% provide(:description, "Homemade and Hand Wrapped Luxurious Lollipops for any occasion.") %>
<div class="inner cover">
  <h1 class="cover-heading font">Luxury Lollipops</h1>
  <p class="lead">Homemade and Hand Wrapped Luxurious Lollipops for any occasion.</p>
  <p class="lead">
    <a href="/take-a-look" class="btn btn-lg btn-default">Take a Look</a>
  </p>
</div>
