<% provide(:title, "Luxury Lollipops") %>
<% provide(:description, "Homemade and Hand Wrapped Luxurious Lollipops for any occasion.") %>
<div class="jumbotron">
  <h1 class="font">Luxury Lollipops</h1>
  <p class="lead">Homemade and Hand Wrapped Luxurious Lollipops for any occasion.</p>
  <p><a href="/take-a-look" class="btn btn-lg btn-default">Take a Look</a></p>
</div>

<div class="row marketing">
  <div class="col-lg-6">
    <h4 class="font">Perfect for</h4>
    <p>All occasions</p>

    <h4>Weddingd</h4>
    <p>A delicious treat for your guests.</p>

    <h4>Subheading</h4>
    <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
  </div>

  <div class="col-lg-6">
    <h4 class="font">Delicious flavours</h4>
    <p>Something for the kids as well as something for the adults</p>

    <h4>Procescco</h4>
    <p>An Italian sparkling ehite whine.</p>

    <h4>Stawberry</h4>
    <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
  </div>
</div>
