<% provide(:title, "Luxury Lollipops: Take A Look") %>
<% provide(:description, "Photos of Homemade and Hand Wrapped Luxurious Lollipops for any occasion.") %>
<h3>Take A Look</h3>
<div class="row">
  <div class="col-md-4">
    <img src="data:image/svg+xml;charset=utf-8,%3Csvg xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg' viewBox%3D'0 0 200 150'%2F%3E" width="200" height="150" style="background:red" class="img-thumbnail">
  </div>
  <div class="col-md-4">
    <img src="data:image/svg+xml;charset=utf-8,%3Csvg xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg' viewBox%3D'0 0 200 150'%2F%3E" width="200" height="150" style="background:red" class="img-thumbnail">
  </div>
  <div class="col-md-4">
    <img src="data:image/svg+xml;charset=utf-8,%3Csvg xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg' viewBox%3D'0 0 200 150'%2F%3E" width="200" height="150" style="background:red" class="img-thumbnail">
  </div>
</div>
