<% provide(:title, "Luxury Lollipops: Make A Request") %>
<% provide(:description, "Request some Homemade and Hand Wrapped Luxurious Lollipops for any occasion.") %>
<div class="inner cover">
  <p>Please feel free to get in touch:</p>
  <p class="lead"><a href="mailto:gemma@luxurylollipops.com">gemma@luxurylollipops.com</a></p>
</div>
