<div class="header clearfix">
  <h3 class="text-muted">Team Quiz</h3>
</div>

<div class="jumbotron">
  <h1>Welcome</h1>
  <p class="lead">Time to test your knowledge</p>
  <form method="post" action="/team-quiz/start">
    <div class="form-group">
      <input type="text" placeholder="Nickname" class="form-control input-lg" required>
    </div>
    <button class="btn btn-success" type="submit">Start Quiz</button>
  </form>
</div>
