<% provide(:title, "Security Vulnerability:: Edit") %>
<% provide(:description, "Edit the security vulnerability: #{@vulnerability.domain}.") %>

<h1>Security Vulnerabilities Reported</h1>

<%= render 'form' %>

<%= link_to 'Back', security_vulnerabilities_path %>
