<% provide(:title, "Security Vulnerabilities Reported:: New") %>
<% provide(:description, "Record a new security vulnerability reported.") %>

<h1>Security Vulnerabilities Reported</h1>

<%= render 'form' %>

<%= link_to 'Back', security_vulnerabilities_path %>
