<% provide(:title, "Tweets:: Stats") %>
<% provide(:description, "Statistics on when I tweet on Twitter") %>

<h1>Tweets</h1>
<ol class="breadcrumb">
	<li><%= link_to 'Tweets', tweets_path %></li>
	<li class="active">Statistics</li>
	<li><%= link_to 'Map', tweets_map_path, "data-no-turbolink" => true %></li>
</ol>

<h2>Statistics</h2>

<%= render 'common/time_stats' %>

<%= link_to 'Back', tweets_path %>
