<% provide(:title, "Blog") %>
<% provide(:description, "A blog about technology, travel, cooking and general musings.") %>

<h1>Blog</h1>
<ol class="breadcrumb">
	<li class="active">Blog</li>
	<li><%= link_to 'Tags', blog_tags_path %></li>
</ol>

<section class="row">
	<article class="col-md-8 col-lg-9">
	<% @blog_posts.each do |blog_post| %>
		<%= render "blog_post", blog_post: blog_post %>
	<% end %>
	</article>

	<%= render "navigation" %>

</section>

<%= paginate @blog_posts %>