<% provide(:title, "Blog") %>
<% provide(:description, "A blog about technology, travel, cooking and general musings.") %>

<h1>Blog</h1>

<section class="row">
	<article class="col-md-8">
	<% @blog_posts.each do |blog_post| %>
		<%= render "blog_post", blog_post: blog_post %>
	<% end %>
	</article>
	
	<article class="col-md-4">
		<nav class="list-group">
			<%= link_to "All Posts", blog_posts_path, class: "list-group-item" %>
		</nav>
	</article>
</section>

<%= paginate @blog_posts %>
