<% provide(:title, "Blog:: New") %>
<% provide(:description, "Create a new blog post.") %>

<h1>New Blog Post</h1>
<ol class="breadcrumb">
	<li><%= link_to 'Blog', blog_posts_path %></li>
	<li class="active">New</li>
</ol>

<%= render 'form' %>