<% provide(:title, "Blog:: #{@blog_post.title}") %>
<% provide(:description, "I wrote a plog post entitiled: #{@blog_post.title}") %>

<h1>Blog</h1>
<section class="row">
	<article class="col-md-8">
		<%= render "blog_post", blog_post: @blog_post %>
	</article>

	<%= render "navigation" %>

</section>
