<div class="header clearfix">
  <nav>
    <ul class="nav nav-pills pull-right">
      <li role="presentation"><a href="/xss-workshop/1">Example 1</a></li>
      <li role="presentation" class="active"><a href="/xss-workshop/2">Example 2</a></li>
    </ul>
  </nav>
  <h3 class="text-muted">XSS Workshop</h3>
</div>

<div class="jumbotron">
  <h2>Example 2</h2>
  <form method="get">
    <div class="form-group">
      <input class="form-control" name="q" placeholder="Search query">
    </div>
    <button class="btn btn-default">Search</button></p>
  </form>
</div>

<% if params[:q] %>

  <% if params[:q] == "solution" %>
  <p><a class="btn btn-default" href='?q=bob"}%3Balert(document.cookie)%3Bvar%20b={a:"false'>Solution</a></p>
  <% end %>

<div class="row">
  <div class="col-lg-12">
    <h3>You searched for <%= params[:q] %></h3>
    <h4>Results</h4>
    <ul class="list-group">
      <li class="list-group-item">Cras justo odio</li>
      <li class="list-group-item">Dapibus ac facilisis in</li>
      <li class="list-group-item">Morbi leo risus</li>
      <li class="list-group-item">Porta ac consectetur ac</li>
      <li class="list-group-item">Vestibulum at eros</li>
    </ul>
    <nav aria-label="Page navigation">
      <ul class="pagination">
        <li>
          <a href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <li class="active"><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li>
          <a href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
      <script>
        var data = {
          q: "<%= params[:q].html_safe %>",
          p: "page-1"
        };
      </script>
    </nav>
  </div>
</div>
<% end %>
