<% provide(:title, "West Side Story 2013: Cast") %>
<% provide(:description, "The full cast for the West Side Story performance by the Central Hall Musical Society.") %>

<header class="row"><h1 class="twelve columns">Cast</h1></header>
<section class="row">
	<article class="six columns text-right">
		<h5>Tony</h5>
	</article>
	<article class="six columns">
		<h5>Caolan Keaveney</h5>
	</article>
</section>
<section class="row">
	<article class="six columns text-right">
		<h5>Maria</h5>
	</article>
	<article class="six columns">
		<h5>Ana Beard-Fernandez</h5>
	</article>
</section>
<section class="row">
	<article class="six columns text-right">
		<h5>Riff</h5>
	</article>
	<article class="six columns">
		<h5>Tom Jones</h5>
	</article>
</section>
<section class="row">
	<article class="six columns text-right">
		<h5>Anita</h5>
	</article>
	<article class="six columns">
		<h5>Emilie Smith</h5>
	</article>
</section>
<section class="row">
	<article class="six columns text-right">
		<h5>Bernardo</h5>
	</article>
	<article class="six columns">
		<h5>Matt Lecznar</h5>
	</article>
</section>
<section class="row">
	<article class="six columns text-right">
		<h5>Action</h5>
	</article>
	<article class="six columns">
		<h5>Pete Watts</h5>
	</article>
</section>
<section class="row">
	<article class="six columns text-right">
		<h5>A-Rab</h5>
	</article>
	<article class="six columns">
		<h5>George Morgan</h5>
	</article>
</section>
<section class="row">
	<article class="six columns text-right">
		<h5>Baby John</h5>
	</article>
	<article class="six columns">
		<h5>Tristan Landymore</h5>
	</article>
</section>
<section class="row">
	<article class="six columns text-right">
		<h5>Snowboy</h5>
	</article>
	<article class="six columns">
		<h5>Freddie Cambanakis</h5>
	</article>
</section>
<section class="row">
	<article class="six columns text-right">
		<h5>Big Deal</h5>
	</article>
	<article class="six columns">
		<h5>Matthew Roberts</h5>
	</article>
</section>
<section class="row">
	<article class="six columns text-right">
		<h5>Diesel</h5>
	</article>
	<article class="six columns">
		<h5>Andy Bewley</h5>
	</article>
</section>
<section class="row">
	<article class="six columns text-right">
		<h5>Graziella</h5>
	</article>
	<article class="six columns">
		<h5>Eliza Shea</h5>
	</article>
</section>
<section class="row">
	<article class="six columns text-right">
		<h5>Velma</h5>
	</article>
	<article class="six columns">
		<h5>Rachel Barry</h5>
	</article>
</section>
<section class="row">
	<article class="six columns text-right">
		<h5>Minnie</h5>
	</article>
	<article class="six columns">
		<h5>Maya Ellis</h5>
	</article>
</section>
<section class="row">
	<article class="six columns text-right">
		<h5>Clarice</h5>
	</article>
	<article class="six columns">
		<h5>Lucy Hoban</h5>
	</article>
</section>
<section class="row">
	<article class="six columns text-right">
		<h5>Pauline</h5>
	</article>
	<article class="six columns">
		<h5>Sarah Norvock</h5>
	</article>
</section>
<section class="row">
	<article class="six columns text-right">
		<h5>Anybodys</h5>
	</article>
	<article class="six columns">
		<h5>Sarah Palmer</h5>
	</article>
</section>
<section class="row">
	<article class="six columns text-right">
		<h5>Chino</h5>
	</article>
	<article class="six columns">
		<h5>Luke de Belder</h5>
	</article>
</section>
<section class="row">
	<article class="six columns text-right">
		<h5>Pepe</h5>
	</article>
	<article class="six columns">
		<h5>Matt Thorns</h5>
	</article>
</section>
<section class="row">
	<article class="six columns text-right">
		<h5>Indio</h5>
	</article>
	<article class="six columns">
		<h5>Omar Peracha</h5>
	</article>
</section>
<section class="row">
	<article class="six columns text-right">
		<h5>Luis</h5>
	</article>
	<article class="six columns">
		<h5>Brandon Gomez</h5>
	</article>
</section>
<section class="row">
	<article class="six columns text-right">
		<h5>Juano</h5>
	</article>
	<article class="six columns">
		<h5>Chris Allen</h5>
	</article>
</section>
<section class="row">
	<article class="six columns text-right">
		<h5>Rosalia</h5>
	</article>
	<article class="six columns">
		<h5>Lottie Johnson</h5>
	</article>
</section>
<section class="row">
	<article class="six columns text-right">
		<h5>Consuelo</h5>
	</article>
	<article class="six columns">
		<h5>Betty Jones</h5>
	</article>
</section>
<section class="row">
	<article class="six columns text-right">
		<h5>Teresita</h5>
	</article>
	<article class="six columns">
		<h5>Emma Mansfield</h5>
	</article>
</section>
<section class="row">
	<article class="six columns text-right">
		<h5>Francisca</h5>
	</article>
	<article class="six columns">
		<h5>Sarah Cotterill</h5>
	</article>
</section>
<section class="row">
	<article class="six columns text-right">
		<h5>Estella</h5>
	</article>
	<article class="six columns">
		<h5>Flo Stratton</h5>
	</article>
</section>
<section class="row">
	<article class="six columns text-right">
		<h5>Margarita</h5>
	</article>
	<article class="six columns">
		<h5>Gaby James</h5>
	</article>
</section>
<section class="row">
	<article class="six columns text-right">
		<h5>Shark Girl</h5>
	</article>
	<article class="six columns">
		<h5>Emily Down</h5>
	</article>
</section>
<section class="row">
	<article class="six columns text-right">
		<h5>Shark Girl </h5>
	</article>
	<article class="six columns">
		<h5>Kate Burke</h5>
	</article>
</section>
<section class="row">
	<article class="six columns text-right">
		<h5>Shark Girl  </h5>
	</article>
	<article class="six columns">
		<h5>Sarah Millington</h5>
	</article>
</section>
<section class="row">
	<article class="six columns text-right">
		<h5>Shark Girl   </h5>
	</article>
	<article class="six columns">
		<h5>Katherine Donnelly</h5>
	</article>
</section>
<section class="row">
	<article class="six columns text-right">
		<h5>Doc</h5>
	</article>
	<article class="six columns">
		<h5>Chris Allen</h5>
	</article>
</section>
<section class="row">
	<article class="six columns text-right">
		<h5>Shrank</h5>
	</article>
	<article class="six columns">
		<h5>Jack Roberts</h5>
	</article>
</section>
<section class="row">
	<article class="six columns text-right">
		<h5>Krupke</h5>
	</article>
	<article class="six columns">
		<h5>Dumky de Wilde</h5>
	</article>
</section>
<section class="row">
	<article class="six columns text-right">
		<h5>Glad Hand</h5>
	</article>
	<article class="six columns">
		<h5>Simone Ibbett-Brown</h5>
	</article>
</section>