<% provide(:title, "West Side Story 2013: Contact") %>
<% provide(:description, "Get in touch with the Univeristy of York Central Hall Musical Society.") %>

<header class="row"><h1 class="twelve columns">Contact Us</h1></header>
<section class="row">
	<article class="nine columns">
		<p>Feel free to get in touch with the production team with any questions:</p>
		<h4>
			<a href="https://twitter.com/WestSideStory13" title="Twitter"><img src="/images/westsidestory/twitter.png" alt="Twitter" style="vertical-align:middle"></a>
			<a href="https://twitter.com/WestSideStory13" title="Twitter">@WestSideStory13</a>
		</h4>
		<h4>
			<a href="https://www.facebook.com/WestSideStory2013" title="Facebook"><img src="/images/westsidestory/facebook.png" alt="Facebook" style="vertical-align:middle"></a>
			<a href="https://www.facebook.com/WestSideStory2013" title="Facebook">/WestSideStory2013</a>
		</h4>
		<h4>
			<a href="mailto:centralhall@yusu.org" title="Email"><img src="/images/westsidestory/email.png" alt="Email" style="vertical-align:middle"></a>
			<a href="mailto:centralhall@yusu.org" title="Email">centralhall@yusu.org</a>
		</h4>
	</article>
	<article class="three columns">
		<p></p>
	</article>
</section>