<% provide(:title, "Central Hall Musical: West Side Story 2013") %>
<% provide(:description, "The University of York Central Hall Musical Society presents West Side Story.") %>

<section class="row" itemprop="event" itemscope itemtype="http://schema.org/TheaterEvent">
	<header class="eight columns">
		<h6><span itemprop="performer">The <span itemprop="location">University of York</span> Central Hall Musical Society</span> presents</h6>
		<h1 itemprop="name" style="text-transform:uppercase">West Side Story</h1>
	</header>
	<article class="four columns">
		<h2>Week 5, Spring Term</h2>
	<h5 itemprop="startDate" content="2013-02-07">Thursday 7th</h5> <h5>Friday 8th</h5> <h5 itemprop="endDate" content="2013-02-09">Saturday 9th</h5> <h4>February 2013</h4>
	</article>
</section>
<section class="row" style="margin:20px auto;">
	<article class="four columns" style="padding:20px;">
		<a class="twitter-timeline" data-dnt="true" href="https://twitter.com/WestSideStory13" data-widget-id="424628185376903168">Tweets by @WestSideStory13</a>
		<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
	</article>
	<article class="four columns">
		<iframe src="https://www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2FWestSideStory2013&amp;width=292&amp;colorscheme=dark&amp;show_faces=true&amp;border_color&amp;stream=false&amp;header=false&amp;height=450" scrolling="no" frameborder="0" style="border:none;overflow:hidden;width:292px;height:450px;margin-top:20px;margin-bottom:20px;background:#333;" allowTransparency="false"></iframe>
	</article>
	<article class="four columns">
		<h4>Buy Your Tickets Now!</h4> <a href="/westsidestory/tickets" class="button large">Tickets!</a>
		<hr><article style="background-color:black;padding:5px;"><h4>Our Sponsor</h4>
		<p>Many Thanks to our sponsor Adam Rodway of <b><a href="http://www.givethedogabone.co.uk/">...Give the dog a bone</a></b></p>
		<p><a href="https://www.facebook.com/givethedogaboneshop">Visit their Facebook page!</a></a></p></article>
	</article>
</section>