<% provide(:title, "West Side Story 2013: The Story") %>
<% provide(:description, "Synopsis of the West Side Story Musical.") %>

<header class="row"><h1 class="twelve columns">The Story</h1></header>
<section class="row">
	<article class="nine columns">
		<p>The world&#39;s greatest love story takes us to the Upper West Side neighbourhood in New York City in the critically acclaimed West Side Story.</p>
		<p>This landmark Broadway musical transports the immortal Shakespearean story of Romeo and Juliet to Manhattan and explores the rivalry between the Jets and the Sharks, two violent teenage street gangs of different ethnic backgrounds. Puerto Rican Sharks are constantly taunted and abused by the White, blue-collar Irish-American Jets.</p>
	</article>
	<article class="three columns">
		<p></p>
	</article>
</section>