<% provide(:title, "West Side Story 2013: Team") %>
<% provide(:description, "The people organising this year's Central Hall Musical Society performance of West Side Story.") %>

<header class="row"><h1 class="twelve columns">The Team</h1></header>
<section class="row">
	<nav class="three columns">
		<ul class="nav-bar vertical">
			<li><a href="#dir1">Director</a></li>
			<li><a href="#dir2">Director</a></li>
			<li><a href="#exec">Executive Producer</a></li>
			<li><a href="#fin">Financial Producer</a></li>
			<li><a href="#pp">Press and Publicity Producer</a></li>
			<li><a href="#md">Music Director</a></li>
			<li><a href="#amd">Assistant Music Director</a></li>
			<li><a href="#chor">Choreographer</a></li>
			<li><a href="#achor">Assistant Choreographer</a></li>
			<li class="unavailable"><a href="#">Production Manager</a></li>
			<li><a href="#sound">Sound Technician</a></li>
			<li><a href="#light">Lighting Technician</a></li>
			<li><a href="#cost">Costume Set Designer</a></li>
			<li><a href="#stage">Stage Manager</a></li>
			<li><a href="#dstage">Deputy Stage Manager</a></li>
			<li><a href="#astage">Assistant Stage Manager</a></li>
		</ul>
	</nav>
	<section class="nine columns">
		<article id="dir1">
		<figure><img src="/images/westsidestory/dir1.png" alt="The Director"></figure>
		<h4>Nick Armfield – Director</h4>
		<a href="mailto:na634@york.ac.uk" title="Email Nick">na634@york.ac.uk</a>
		<p>Performance Credits: Enoch Jr. – Carousel, Judge Turpin – Sweeney Todd (Edinburgh Fringe 2009 with Artfelt Theatre), Carnes – Oklahoma!, Narrator
		– Into the Woods (CHMS 2012), Ralph – Lord of the Flies (Edinburgh Fringe 2006 FeltonFleetAtTheFringe), Snowball/Benjamin – Animal Farm, Alistair – Posh,
		Maurice – Deathwatch and Dakin – History Boys (York DramaSoc 2012), Gregor Samsa – Metamorphosis.</p>
		<p>Directing Credits: Oedipus, Ein Volk, Scenes from Endgame and Speed-the-Plow (Hampton School Productions), Merchant of Venice (Shakespeare Schools),
		Humble Pie (YSTV). Other: A* Extended Project ‘Direction and Performance’. Work
		experience at Prince of Wales Theatre (helping with lighting and stage managing on the West End production of Mamma Mia!)
		and Guildhall School of Music and Drama. I am an active member of Vocal Point and CappellaJuice.</p>
	</article>
		<article id="dir2">
		<figure><img src="/images/westsidestory/dir2.png" alt="The Director"></figure>
		<h4>Alexander Wilson – Director</h4>
		<a href="mailto:awrw501@york.ac.uk" title="Email Alex">awrw501@york.ac.uk</a>
		<p>Performance Credits: Fat Sam – Bugsy Malone, Will Parker – Oklahoma!, Britney – We
		Will Rock You, Sweeney Todd – Sweeney Todd (Edinburgh Fringe 2009 Artfelt Theatre), Baker – Into
		The Woods (CHMS 2012), Humble Pie (YSTV), Hector – The History Boys (Dramasoc 2012). I am an
		active member of the University’s musical theatre vocal group, Vocal Point and performed at the
		Edinburgh Fringe 2012 with CappellaJuice: Beyond the Wardrobe. Musically, I have been proficient
		from a young age, singing in various choirs, and performing at venues such as Hampton Court Palace,
		St Paul’s Cathedral and St Mark’s Basilica in Venice.</p>
	</article>
		<article id="exec">
		<figure><img src="/images/westsidestory/exec.png" alt="Executive Producer"></figure>
		<h4>Anna Thirkettle – Executive Producer</h4>
		<a href="mailto:alt512@york.ac.uk" title="Email Anna">alt512@york.ac.uk</a>
		<p>Nine years as a Performer in Norfolk Youth Music Theatre (Les
		Miserables, Bendigo Boswell, The Vackees, Oliver!, The Sound of Music, Whistle
		Down the Wind, Bugsy Malone, The Secret Garden, Pendragon). Sorceress –
		Dido and Aeneas (The Enchanted Lovers), Miss Baggott – The Little Sweep (Both
		Edinburgh Fringe 2007 with NYMT). Jekyll and Hyde (Threshold Theatre Group
		2008), Death’s Apprentice (Short Independent Film). Lulu – Cabaret and Rachel –
		Posh (Both York DramaSoc), Milky White – Into The Woods (CHMS 2012). Katy
		– Humble Pie (YSTV). Founder of Key Stage 3 Drama Group and History Club.
		Producer - Music Department Concerts (Framingham Earl High School).</p>
	</article>
		<article id="fin">
		<figure><img src="/images/westsidestory/fin.png" alt="Financial Producer"></figure>
		<h4>Howard Thompson – Financial Producer</h4>
		<a href="mailto:ht596@york.ac.uk" title="Email Howard">ht596@york.ac.uk</a>
		<p>Chorister at St Paul’s Cathedral, performing at the Queen’s Golden
		Jubilee, 2 BBC Proms, and 9/11 Memorial Services. Gap year working as an assistant
		at St Paul’s Cathedral School, acting as a chaperone for the choristers at various
		high profile events in venues such as the Royal Opera House and the Royal Albert
		Hall. Founder and co-director of Fiato Facile Ltd. Performance credits include: Mr
		Mushnik – Little Shop of Horrors, Sweeney Todd – Sweeney Todd, four appearances
		at the Edinburgh Fringe, most recently Tom – The Thing About Men.</p>
	</article>
		<article id="pp">
		<figure><img src="/images/westsidestory/pp.png" alt="Press and Publicity Producer"></figure>
		<h4>Lewis Chandler – Press and Publicity Producer</h4>
		<a href="mailto:lc743@york.ac.uk" title="Email Lewis">lc743@york.ac.uk</a>
		<p>Howling Moon (Edinbrugh Fringe 2011), York DramaSoc: Tara Love/
		Bye Bye Love (2010), Shed (2011), Defenestrated (2011), Peep Show (2011),
		Knightingale (2011), Midsummer Night’s Dream (2011), Posh (2012), Stags and
		Hens (2012). Director of PantSoc’s Aladdin. Host of URY Radio programme Lady
		and the Tramp.</p>
	</article>
		<article id="md">
		<figure><img src="/images/westsidestory/md.png" alt="MD"></figure>
		<h4>Matt Trotter – Music Director</h4>
		<a href="mailto:mst502@york.ac.uk" title="Email Matt">mst502@york.ac.uk</a>
		<p>Oliver – Oliver!, Peter – Jesus Christ Superstar. I am an active member
		of music societies including Vocal Point. I have a very large amount of orchestral pit
		experience with operatic societies, including Carousel, Copacabana, The Full Monty
		and 42nd Street and, at University, with Thoroughly Modern Millie and Into The
		Woods. I have been a rehearsal pianist for Thoroughly Modern Millie and Into The
		Woods and was the Musical Director for Cabaret in the successful University of York
		Dramasoc production.</p>
	</article>
		<article id="chor">
		<figure><img src="/images/westsidestory/chor.png" alt="Choreographer"></figure>
		<h4>Amy Walsh – Choreographer</h4>
		<a href="mailto:acsw500@york.ac.uk" title="Email Amy">acsw500@york.ac.uk</a>
		<p>Dancing since age 3, local and national training in jazz, contemporary
		and physical theatre with YMT: UK and Signdance Collective. Co-choreographer –
		Thoroughly Modern Millie (Happily Ever After Soc 2011), Assistant Choreographer
		– Young Rogues and Vagabonds (Stratford-Upon-Avon), Guest choreographer for
		numerous productions in Warwickshire. Performed many leading musical theatre
		roles, including Cinderella – Into the Woods (CHMS 2012), Madame Thenardier – Les
		Miserables (KHS) and Joanna – Sweeney Todd (Longborough Festival Opera).</p>
	</article>
		<article id="achor">
		<figure><img src="/images/westsidestory/achor.png" alt="Assistant Choreographer"></figure>
		<h4>Rosie Peters – Assistant Choreographer</h4>
		<a href="mailto:rep511@york.ac.uk" title="Email Rosie">rep511@york.ac.uk</a>
		<p>Dancing since age 4 at Sale Academy of Dancing. Grade 5: tap and
		jazz. Grade 6: ballet (including point work). Taught at Sale Academy of Dancing.
		Jazz and Tap Corps – Thoroughly Modern Millie. Co-choreographer – PantSoc’s
		Treasure Island, Wizard of Oz and upcoming production Hercules. Experience
		performing in Fusion, pantomime and dance shows since a young age.</p>
	</article>
		<article id="sound">
		<figure><img src="/images/westsidestory/sound.png" alt="Sound Technician"></figure>
		<h4>Max Hampshire – Sound Technician</h4>
		<a href="mailto:mfah501@york.ac.uk" title="Email Max">mfah501@york.ac.uk</a>
		<p>I have had a vast amount of experience dealing with both recorded and
		live sound – I have worked on sound for on-screen interviews and programmes, in
		association with the BBC and Granada. Furthermore, I have experience setting up
		musical events (I worked with the band Forty Rose at Patron Sounds Recording). My
		interest in theatre has led me to write numerous reviews of productions.</p>
	</article>
		<article id="light">
		<figure><img src="/images/westsidestory/light.png" alt="Lighting Technician"></figure>
		<h4>Emma Henderson – Lighting Technician</h4>
		<a href="mailto:" title="Email Emma"></a>
		<p>Since 2009, worked at Ark Theatre (Borehamwood), where I have
		been trained in sound and lighting, using an ETC ION desk. I have lit many
		travelling shows including: Matt and Nat, Flamenco Express, A Christmas Carol.
		Puppeteer – Little Shop Of Horrors (ELOS 2012), Stage Manager – Large scale
		production of High School Musical. Performer – It Snows, Cloud Busting, A
		Vampire Story (NT Connections), The Wiz, Cloud 9 (TFTV 2012).</p>
	</article>
		<article id="cost">
		<figure><img src="/images/westsidestory/cost.png" alt="Costume"></figure>
		<h4>Emily Williamson – Costume</h4>
		<a href="mailto:ecw514@york.ac.uk" title="Email Emily">ecw514@york.ac.uk</a>
		<p>Costume for theatre – A Saner World (Independent Project), The
		Vortex (Independent Project). Costume for filmed projects: The Sensation of Falling
		(Independent Film), Humble Pie (YSTV – also in charge of make-up). Received an
		A Grade in Textiles and Costume Design, as part of Expressive Arts Course (GCSE).
		Performance: Eponine – Les Miserables, Mrs Lynch – Grease, Anna – Spring
		Awakening. I also have experience Stage Managing and Directing.</p>
	</article>
		<article id="set">
		<figure><img src="/images/westsidestory/set.png" alt="Set Designer"></figure>
		<h4>Andy Lake – Set Designer</h4>
		<a href="mailto:andylake93@gmail.com" title="Email Andy">andylake93@gmail.com</a>
		<p>Since 2008, worked freelance for Setup(Scenery) ©, working on West
		End sets, including Blood Brothers, Jesus Christ Superstar, Sister Act and The Railway
		Children. Although my job was mainly carpentry based, I also have experience in
		metalwork and carving. From 2006-2010, I worked as a technician in CB3 Performance
		Hall, covering set, sound and lighting for musicals, plays, gigs, comedy nights and
		fashion shows. I also have extensive performance experience in theatre (including
		Grumio – Taming of the Shrew, Dandy Dan – Bugsy Malone) and on-screen (co-writer
		and actor in Humble Pie – YSTV).</p>
	</article>
		<article id="dstage">
		<figure><img src="/images/westsidestory/dstage.png" alt="Deputy Stage Manager"></figure>
		<h4>Libby Chalmers – Deputy Stage Manager</h4>
		<a href="mailto:ec751@york.ac.uk" title="Email Libby">ec751@york.ac.uk</a>
		<p>For my final three years at school, I was a prominent member of the
		stage management team. I have progressed from general stage crew for Othello
		and Jesus Christ Superstar, to Assistant Stage Manager for AMidsummer Night’s
		Dream, Evita and The Crucible, to Head Stage Manager for The Lion , the Witch
		and the Wardrobe in 2010. Therefore, I have a vast knowledge of the mechanics of
		working backstage.</p>
		</article>
		<article id="astage">
		<figure><img src="/images/westsidestory/astage.png" alt="Assistant Stage Manager"></figure>
		<h4>Beth Sherburn – Assistant Stage Manager</h4>
		<a href="mailto:ec751@york.ac.uk" title="Email Libby">ec751@york.ac.uk</a>
		<p>After years with my primary passion being acting, during my College years I
		experimented in theatre-production roles and found that I realised that backstage
		was where I felt comfortable and where I really wanted to be. Since College I
		have contributed to several performances in a variety of backstage roles, such as
		Directing:- Grease at College (2010) and Lysistrata in the Drama Barn (2011).
		Producing:- The Wizard of Oz at College (2009) and As Thyself in the Drama Barn (2012).
		Script-writing:- The Z Factor in High School (2009) and The Tales of Ashputtel in
		College (2011). Stage-managing:- The Wizard of Oz at College (2009) and The Ayckbourn
		Shorts in the Scenic Stage Theatre at University.</p>
		</article>
	</section>
</section>