<% provide(:title, "West Side Story 2013: Tickets") %>
<% provide(:description, "Get tickets for the West Side Story Musical performed by the Univeristy of York Central Hall Musical Society.") %>

<header class="row"><h1 class="twelve columns">Tickets</h1></header>
<section class="row">
	<article class="six columns">
		<p>Tickets are now on sale from Your:Shop online</p>
		<h3>07-02-13</h3>
		<ul>
			<li><a href="http://www.yusu.org/shop/ticket/4207">Student</a>  &#163;6.50</a></li>
			<li><a href="http://www.yusu.org/shop/ticket/4210">Concession</a>  &#163;8.50</a></li>
			<li><a href="http://www.yusu.org/shop/ticket/4217">Adult</a>  &#163;10.75</a></li>
		</ul>
		<hr>
		<h3>08-02-13</h3>
		<ul>
			<li><a href="http://www.yusu.org/shop/ticket/4208">Student</a>  &#163;6.50</a></li>
			<li><a href="http://www.yusu.org/shop/ticket/4211">Concession</a>  &#163;8.50</a></li>
			<li><a href="http://www.yusu.org/shop/ticket/4214">Adult</a>  &#163;10.75</a></li>
		</ul>
		<hr>
		<h3>09-02-13</h3>
		<ul>
			<li><a href="http://www.yusu.org/shop/ticket/4209">Student</a>  &#163;6.50</a></li>
			<li><a href="http://www.yusu.org/shop/ticket/4212">Concession</a>  &#163;8.50</a></li>
			<li><a href="http://www.yusu.org/shop/ticket/4215">Adult</a>  &#163;10.75</a></li>
		</ul>
		<hr>
	</article>
	<article class="five columns">
		<p>Tickets can also be bought 12-2pm at Vanbrugh Stalls</p>
		<img src="/images/westsidestory/poster.png" width="100%" alt="Poster" title="West Side Story">
	</article>
</section>
<section class="row">
	<article class="twelve columns">
		<p>Please be aware that while there is no age restriction for this CHMS production, we do recommend Parental Guidance.</p>
		<p>The show contains scenes of a violent nature, sexual innuendo, lewd gestures and mild racial language. We leave child attendance entirely to the discretion of the accompanying adult.</p>
	</article>
</section>