<% provide(:title, "Where is Molly?") %>
<% provide(:description, "Add any phrase in Cedric Gervais' brilliant song. Where can I find...?") %>
<% provide(:image, root_url + "images/project47.png") %>

<h1>Where is Molly?</h1>

<section class="well">
	<h2>Change the lyrics to that awful song</h2>
	<div class="input-group">
		<input type="text" id="text" class="form-control" name="text" value="<%= params[:text] %>">
		<span class="input-group-btn"><button id="play" class="btn btn-primary">PLAY</button></span>
	</div>
	<div id="audio"></div>
</section>

<section class="row">
	<article class="col-md-6">
		<h2>What is this?</h2>
		<p>Remember this annoying (but slightly good song) by <a href="/music/artists/c9073012-4547-4a72-8963-738d9f8503cc" title="Artist Page">Cedric Gervais</a>, well isn't it funny if you change the robot voice to say something else.</p>
		<iframe width="560" height="315" src="//www.youtube.com/embed/DQNOVKtFoAM" frameborder="0" allowfullscreen></iframe>
	</article>
	<article class="col-md-6">
		<h2>Funny Examples</h2>
		<p><a href="/molly#your%20mum">Your Mum</a></p>
		<h2>How does it work?</h2>
		<p><strong>JavaScript</strong> - just locally in your browser not using any text-to-speach web services.</p>
		<p>The javascript library is <a href="https://github.com/kripken/speak.js/" title="Github page">speak.js</a>, a speech synthesizer.</p>
	</article>
</section>

<script src="/scripts/speakClient.js"></script>
<script>
	// <![CDATA[

	var track;
	var first_play = false;
	var second_play = false;

	function prepareText() {
		var text = $('#text').val();
		console.log(text);
		speak.prepare(text, {
			amplitude: 300,
			wordgap: 2,
			pitch: 100,
			speed: 155
		}, function() {
			
		});
		return false;
	}

	function updateTime() {
		if((track.currentTime > 15.55) && (!first_play)) {
			speak.play();
			first_play = true;
		}
		if((track.currentTime > 30.75) && (!second_play)) {
			speak.play();
			second_play = true;
		}
	}

	$(document).ready(function() {

		var hash = window.location.hash.substring(1);
		if(hash)
			$('#text').val(hash);

		track = document.createElement('audio');
		track.setAttribute('src', '/uploads/molly.wav');
		track.setAttribute('ontimeupdate', 'updateTime()');

		$('#play').click(function(e) {
			if(track.paused) {
				first_play = false;
				second_play = false;
				prepareText();
				track.play();
			}
		});

	});
	//]]!>
</script>