<% provide(:title, "Cleversounds") %>
<% provide(:description, "A bluetooth jukebox that plays your songs.") %>

<h1>Cleversounds</h1>
<section class="row">
	<article class="col-md-4">
		<p>
			This application was made for the <a href='http://london.musichackday.org/2010/'>London Music Hack Day 2010</a>.
			Full details are available on the <a href='http://wiki.musichackday.org/index.php?title=Cleversounds' title='Music Hack Day Wiki' target='_blank'>wiki page</a>
			but it basically is designed to play your favourite music where you go.
			Register your phone's bluetooth MAC address and your musical tastes on the site and then when detected by a cleversounds jukebox, your music is played.
		</p>
	</article>
	<article class="col-md-8">
		<img src="">
	</article>
</section>