<% provide(:title, "User:: @user.name") %>
<% provide(:description, "#{@user.name} is using dyl.anjon.es applications.") %>

<h1><%= @user.name %></h1>
<section class="row">
	<article class="col-md-5">
		
	</article>
	<article class="col-md-7">
		
	</article>
</section>