<% provide(:title, "Train Journey:: New") %>
<% provide(:description, "Store a new train journey you are on.") %>

<h1>New Journey</h1>

<section class="row">
	<article class="col-md-5">
		<%= form_for(@journey) do |f| %>
			<div class="actions"><%= f.submit "New Journey", class: "btn btn-primary" %></div>
		<% end %>
	</article>
</section>

<%= link_to 'Back', trains_journeys_path %>
