<% provide(:title, "Duo Leaderboards:: New") %>
<% provide(:description, "Custom Duolingo Leaderboards.") %>

<h1>New Duo Leaderboard</h1>

<section class="row">
	<article class="col-md-5">
		<%= render 'form' %>
	</article>
</section>

<%= link_to 'Back', duo_leaderboards_path %>
