<% provide(:title, "Local Tags") %>
<% provide(:description, "Create a new tag where you are describing what you can see or do here or whatever.") %>
<% provide(:map, "map") %>

<h1>Local Tags</h1>

<section class="row">
	<article class="col-md-6">
		<div id="map" style="width:100%;height:400px"></div>
	</article>
	<article class="col-md-6">
		<%= render 'form' %>
	</article>
</section>

<%= render 'common/map_points' %>

<script type="text/javascript">
	$(document).ready(function() {
		map.on('dragend', function(e) {
			lat = map.getCenter().lat
			lng = map.getCenter().lng;
		    $('#local_tag_lat').val(lat);
			$('#local_tag_lng').val(lng);
		});
		if (navigator.geolocation != null) {
			navigator.geolocation.getCurrentPosition(function(position) {
				var lat = position.coords.latitude;
				var lng = position.coords.longitude;
				center = new L.LatLng(lat, lng);
				map.setView(center, 14);
				$('#local_tag_lat').val(lat); 
				$('#local_tag_lng').val(lng);
			}, function(e) {
				alert(e.message);
			});
		}
	});
</script>
