<div class="header clearfix">
  <nav>
    <ul class="nav nav-pills pull-right">
      <li role="presentation"><%= link_to "Questions", quiz_questions_path %></li>
    </ul>
  </nav>
  <h3 class="text-muted">Team Quiz: Editing Question</h3>
</div>

<%= render 'form' %>

<hr>

<p>
  <%= link_to 'Preview', @question, class: 'btn btn-default' %>
  <%= link_to 'Back', quiz_questions_path, class: 'btn btn-default' %>
</p>
