<% provide(:title, "Team Quiz: Question") %>

<nav class="list-group">
	<% @questions.each do |question| %>
	  <%= link_to question.title, edit_quiz_question_path(question), class: "list-group-item" %>
	<% end %>
</nav>

<%= paginate @questions %>

<p><%= link_to "New Question", new_quiz_question_path, class: "btn btn-default" %></p>
