<% provide(:title, "Team Quiz: Question #{@question.id}") %>

<h1 class="text-center"><%= @question.title %></h1>

<nav class="list-group">
	<% @question.possible_answers.each do |answer| %>
		<a href="#" class="list-group-item"><%= answer %></a>
	<% end %>
</nav>
