<% provide(:title, "Music:: Listens:: Stats") %>
<% provide(:description, "Statistics on when I listen to music") %>

<h1>Listen Stats</h1>
<%= render 'common/time_stats' %>
<%= link_to 'Back', music_listens_path %>
