<% provide(:title, "Project:: Edit") %>
<% provide(:description, "Edit the project details") %>

<h1>Stuff</h1>
<ol class="breadcrumb">
	<li><%= link_to 'Stuff', projects_path %></li>
	<li><%= link_to @project.title, @project %></li>
	<li class="active">Edit</li>
</ol>

<%= render 'form' %>