<% provide(:title, "Project:: New") %>
<% provide(:title, "Add a new project to the site") %>

<h1>New Project</h1>
<ol class="breadcrumb">
	<li><%= link_to 'Stuff', projects_path %></li>
	<li class="active">New</li>
</ol>

<%= render 'form' %>
