<% provide(:title, "I Before E") %>
<% provide(:description, "A twitter robot that would correct people who spelt RECEIVE incorrectly. It got some funny replies. Some rude.") %>

<h1>I Before E</h1>
<p>
	It is a tricky word to spell but hopefully with a little help from a twitter bot, we can all learn to spell RECEIVE
</p>
<blockquote>
	I before E except after C
</blockquote>
<p>
	<a href="http://twitter.com/receive_recieve" title="Twitter Account">@receive_recieve</a> has helped <b>2544</b> people so far to learn this very important rule. Sadly the account has now been suspended, I guess some people were not as grateful as others.
</p>

<section class="row">
	<article class="col-md-6">
		<h2>Offenders</h2>
		<blockquote class="twitter-tweet tw-align-center">
			<p>
				@<a href="https://twitter.com/LOVEFiLM">LOVEFiLM</a> hi if post a dvd back to you today, would u recieve it tomorrow?
			</p>
			&mdash; Amanda (@princessgleek) <a href="https://twitter.com/princessgleek/status/155290606057439236" data-datetime="2012-01-06T14:12:20+00:00">January 6, 2012</a>
		</blockquote>
		<blockquote class="twitter-tweet tw-align-center">
			<p>
				In class I overherddsumthng bt I believe thvt I will recieve.
			</p>
			&mdash; HANIE'DominicoWayne (@HanieLove_625) <a href="https://twitter.com/HanieLove_625/status/155290338284666880" data-datetime="2012-01-06T14:11:16+00:00">January 6, 2012</a>
		</blockquote>
		<blockquote class="twitter-tweet tw-align-center">
			<p>
				MichaelColyar, I'm proud of you ,keep it Pushing there is so much more to come as much as you give you have so much more to recieve
			</p>
			&mdash; Seven Harley (@NotGuiltyRyder) <a href="https://twitter.com/NotGuiltyRyder/status/155289762717114368" data-datetime="2012-01-06T14:08:59+00:00">January 6, 2012</a>
		</blockquote>
		<blockquote class="twitter-tweet tw-align-center">
			<p>
				@<a href="https://twitter.com/foxnews">foxnews</a> I swear Yall raciest a$$ ever yall think only African American recieve goverment aid smh...Damn shame
			</p>
			&mdash; dre Fitzgerald (@TheR3alDreday) <a href="https://twitter.com/TheR3alDreday/status/155288730842832899" data-datetime="2012-01-06T14:04:53+00:00">January 6, 2012</a>
		</blockquote>
		<blockquote class="twitter-tweet tw-align-center">
			<p>
				The @<a href="https://twitter.com/Swoozies">Swoozies</a><a href="https://twitter.com/search/%2523Wedding">#Wedding</a> Book is out! Thru Jan 22 use code WEDDING10 to recieve 10% off anything from the Wedding Book. {Great deal!}
			</p>
			&mdash; Cheryl Hilpert-Rhody (@CherylHRhody) <a href="https://twitter.com/CherylHRhody/status/155291045909901312" data-datetime="2012-01-06T14:14:05+00:00">January 6, 2012</a>
		</blockquote>
		<blockquote class="twitter-tweet tw-align-center">
			<p>
				@<a href="https://twitter.com/DazFootie">DazFootie</a> i cant recieve what u just sent me
			</p>
			&mdash; jamie spencer (@jamiespencer9) <a href="https://twitter.com/jamiespencer9/status/155294463370067969" data-datetime="2012-01-06T14:27:39+00:00">January 6, 2012</a>
		</blockquote>
		<blockquote class="twitter-tweet tw-align-center">
			<p>
				Is it terrible that I just sent my husband an email with my birthday wishes? Ask and you shall recieve, right? <a href="https://twitter.com/search/%2523MarcJacobs">#MarcJacobs</a>
			</p>
			&mdash; Jessica Rowen (@JRow) <a href="https://twitter.com/JRow/status/155305685956050946" data-datetime="2012-01-06T15:12:15+00:00">January 6, 2012</a>
		</blockquote>
		<blockquote class="twitter-tweet tw-align-center">
			<p>
				carolyn and pimp daddy lay will recieve only pictures in this war. I will win as always.
			</p>
			&mdash; Deante' V.(@SpittaXL) <a href="https://twitter.com/SpittaXL/status/155306852035461120" data-datetime="2012-01-06T15:16:53+00:00">January 6, 2012</a>
		</blockquote>
	</article>
	<article class="col-md-6">
		<h2>Replies</h2>
		<blockquote class="twitter-tweet tw-align-center" data-in-reply-to="155290754619678720">
			<p>
				@<a href="https://twitter.com/IbeforeEexceptC">IbeforeEexceptC</a>I think I don't give a fuck how it was spelt you got the tucking point you tucking looser
			</p>
			&mdash; dre Fitzgerald (@TheR3alDreday) <a href="https://twitter.com/TheR3alDreday/status/155316601653170177" data-datetime="2012-01-06T15:55:38+00:00">January 6, 2012</a>
		</blockquote>
		<blockquote class="twitter-tweet tw-align-center" data-in-reply-to="155292317262168064">
			<p>
				@<a href="https://twitter.com/IbeforeEexceptC">IbeforeEexceptC</a> Yes! That is what I get for RT-ing :)
			</p>
			&mdash; Cheryl Hilpert-Rhody (@CherylHRhody) <a href="https://twitter.com/CherylHRhody/status/155298624664903680" data-datetime="2012-01-06T14:44:12+00:00">January 6, 2012</a>
		</blockquote>
		<blockquote class="twitter-tweet tw-align-center" data-in-reply-to="155347961138790400">
			<p>
				@<a href="https://twitter.com/IbeforeEexceptC">IbeforeEexceptC</a> oh Wow thanx =/
			</p>
			&mdash; ? ???S? ? (@PiNkNPurpKissEs) <a href="https://twitter.com/PiNkNPurpKissEs/status/155348742848004096" data-datetime="2012-01-06T18:03:21+00:00">January 6, 2012</a>
		</blockquote>
		<blockquote class="twitter-tweet tw-align-center" data-in-reply-to="155359299177168897">
			<p>
				@<a href="https://twitter.com/IbeforeEexceptC">IbeforeEexceptC</a> Thanks, I did indeed.
			</p>
			&mdash; Fedex LaShelia (@FedexLaShelia) <a href="https://twitter.com/FedexLaShelia/status/155359866645520384" data-datetime="2012-01-06T18:47:33+00:00">January 6, 2012</a>
		</blockquote>
	</article>
</section>
<script src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

