<% provide(:title, "Goodbye Jimmy Wales") %>
<% provide(:description, "A chrome extension that removes the massive donation banner from Wikipedia pages.") %>

<h1>Goodbye Jimmy Wales</h1>

<section class="row">
	<article class="col-md-6">
		<article class="well">
			<a href="https://chrome.google.com/webstore/detail/jgeajjlnhmkpepplhnccfmllblpjkkij" title="CHrome Web Store"><img src="/assets/project20.png" class="thumbnail" alt="Screenshot"></a>
			<h2>Say &#034;Goodbye Jimmy Wales&#034;...</h2>
			<p>Get rid of Jimmy Wales' face whenever you access Wikipedia sites during the holiday season.</p>
			<a href="https://chrome.google.com/webstore/detail/jgeajjlnhmkpepplhnccfmllblpjkkij" class="btn btn-warning">Get the Chrome Extension</a>
		</article>
	</article>
	<article class="col-md-6">
		<h4>What?</h4>
		<p>This chrome extension gets rid of the Jimmy Wales head from the top of every <a href="http://wikipedia.org">Wikipedia</a> page, nothing else.</p>
		<h4>Where?</h4>
		<p>Everywhere listed below. If you see his head elsewhere, <%= link_to "let me know!", contact_path %></p>
		<ul>
			<li>wikipedia.org</li>
			<li>wikimedia.org</li>
			<li>wikiquote.org</li>
			<li>wikinews.org</li>
			<li>wikibooks.org</li>
			<li>wikiversity.org</li>
			<li>wikitionary.org</li>
			<li>wikisource.org</li>
		</ul>
		<h4>Why?</h4>
		<p>Don&#39;t get me wrong, feel free to <a href="http://wikimediafoundation.org/wiki/WMFJA1/GB">donate</a> to help the organisation but I&#39;m sure you're tired of seeing his face all the time, even after you have donated?</p>
	</article>
</section>