defaults: &defaults
  twitter_consumer_key:
  twitter_consumer_secret:
  twitter_oauth_token:
  twitter_oauth_token_secret:
  lastfm_api_key:
  flickr_api_key:
  network_rail_host:
  network_rail_username:
  network_rail_password:
  google_location_email:
  google_location_password:
  songkick_api_key:
  sms_link:
  justgiving_api_key:
  recaptcha_public_key:
  recaptcha_private_key:
  tesco_api_key:
  monzo_access_token:
  monzo_account_id:
  database_user:
  database_password:
  redis_password:
  is_my_train_delayed_page_key:

development:
  <<: *defaults
  secret_key_base:

test:
  <<: *defaults
  secret_key_base: bob

production:
  <<: *defaults
  secret_key_base:
