<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
     <%= @message %>
    </p>
    <p>
      From <%= @name %> - <%= @email %>
    </p>
  </body>
</html>