<% provide(:title, "Music:: Artist") %>
<% provide(:description, "Artist search.") %>

<h1>Artist</h1>

<ol class="breadcrumb">
  <li><%= link_to "Music", music_root_path %></li>
  <li class="active">Artists</li>
</ol>

<article class="well">
	<form class="form-inline" role="form" action="<%= music_artists_path %>">
		<div class="form-group">
			<label class="sr-only" for="q">Find an Artist</label>
			<input class="form-control" id="q" name="q" placeholder="Find an Artist" autofocus>
		</div>
		<button type="submit" class="btn btn-default">Search</button>
	</form>
</article>

<section class="row">
	<article class="col-md-4">
		<nav class="list-group">
		<% @artists.each do |artist| %>
		  	<%= link_to artist['name'], "/music/artists/#{artist['id']}", class: "list-group-item" %>
		<% end %>
		</nav>
	</article>
</section>