<% provide(:title, "Stream") %>
<% provide(:description, "Real-time feed of all things me. A scrollaable history of all my data.") %>

<h1>Stream</h1>

<section class="row">
	<article class="col-md-5 text-right">
		Thu 12th September Hello
	</article>
	<article class="col-md-2 text-center">
		|
	</article>
	<article class="col-md-5 text-left">
		Hello
	</article>
	
	<article class="col-md-5 text-right">
		Hello
	</article>
	<article class="col-md-2 text-center">
		|
	</article>
	<article class="col-md-5 text-left">
		Hello
	</article>
	
	
</section>