<% provide(:title, "QR Generator") %>
<h1>QR Generator</h1>

<section class="row">
	<article class="col-md-7">
		<img id="qr" src="https://chart.googleapis.com/chart?chs=500x500&cht=qr&chl=https%3A%2F%2Fdyl.anjon.es" alt="QR Code" class="thumbnail">
	</article>
	<article class="col-md-4">
		<form>
			<label for="inout-qr">Create a <abbr class="has-tip" title="Quick Response">QR</abbr> code</label>
			<input id="input-q" name="qr" value="https://dyl.anjon.es" class="form-control">
		</form>
	</article>
</section>

<script type="text/javascript">
	$(document).ready(function() {
		$('input').keyup(function() {
			$('#qr').attr('src', 'https://chart.googleapis.com/chart?chs=500x500&cht=qr&chl=' + encodeURIComponent($('input').val()));
		});
	});
</script>