<blockquote class="text_message<%= " sent" if text_message.sent? %>">
	<p>
		<%= linkify text_message.text %>
	</p>
	<small>
		<%= link_to text_message.contact, text_message_contact_path(text_message.contact) %>
		<%= link_to timestamp(text_message.created_at), text_message %>
	</small>
</blockquote>