<% provide(:title, "SMS:: CLoud") %>
<% provide(:description, "A word cloud of the most popular words sent to and from me.") %>

<h1>SMS Cloud</h1>

<p>Coming Soon</p>

<%= link_to 'Back', text_messages_path %>
