<% provide(:title, "Text Messages with #{@contact}") %>
<h1>Text Messages with <%= @contact %></h1>

<% @text_messages.each do |text_message| %>
  <%= render 'text_message', :text_message => text_message %>
<% end %>

<%= paginate @text_messages %>