<% provide(:title, "SMS:: Stats") %>
<% provide(:description, "Statistics on when I send and receive texts") %>

<h1>SMS Stats</h1>
<%= render 'common/time_stats' %>
<%= link_to 'Back', text_messages_path %>
