<!-- Section #1 -->
	<section id="intro" data-speed="6" data-type="background">
		<div class="container">
	    	<div class="hero-unit">
	    		<h1>Keep in Touch Abroad</h1>
	    	</div>
	    </div>
	</section>

	<!-- Section #2 -->
	<section id="home" data-speed="4" data-type="background">
		<div class="container">
			<div class="row-fluid">
		        <div id="twitter-well" class="span12 well">
		          <h2>Coming Soon</h2>
		        </div>
	    	</div>
	    </div>
	</section>

	<!-- Section #3 -->
	<section id="about" data-speed="2" data-type="background">
		<div class="container">
			<div class="page-header">
				<h1>What is this?</h1>
			</div>
			<div class="row-fluid">
		        <div class="span12 text-left">
		          	<h2>Simple, cheap communication around the world</h2>		          	
		        </div>
		       
			</div>
	    </div>
	</section>