<% provide(:title, "Pub Thursday Audit") %>
<% provide(:description, "Due to a small bug of allowing users to have more than one active session, an audit needs to occur") %>
<h1>Pub Thursday Audit</h1>

<section class="row">
	<pre class="col-md-8"><%= JSON.pretty_generate(@users) %></pre>
	<article class="col-md-4">

	</article>
</section>
