<% provide(:title, "On the Run") %>
<% provide(:description, "You need to leave the country quickly? How much have you got? We can tell you how far you could get away.") %>

<h1>On the Run</h1>
<section class="row">
	<article class="col-md-4">
		<p>
			This application was made for the <a href='http://leedshack.com/'>Leeds Hack 2011</a>.
			It basically lets you put in an amount of money you want to spend on a flight and tells you the furthest you can get.
		</p>
		<p>
			Reverse engineeing the BMI baby API, you can now select a destination based on price (rather than enetering the origin and destination and getting the price).
			Most useful for when you need to leave the country quickly on a tight budget.
		</p>
	</article>
	<article class="col-md-8">
		<img src="">
	</article>
</section>