<% provide(:title, "Music:: DJ:: Events") %>
<% provide(:description, "Track listings from my days as a DJ at university") %>

<h1>DJ Events</h1>
<ol class="breadcrumb">
	<li><%= link_to 'Music', music_root_path %></li>
	<li class="active">DJ Events</li>
</ol>

<p>These are the events I have DJ'd</p>
<section class="row">
	<article class="col-md-6">
		<nav class="list-group">
		<% @dj_events.each do |dj_event| %>
		  	<%= link_to dj_event.title, [:music, dj_event], class: "list-group-item" %>
		<% end %>
		</nav>
	</article>
</section>

<%= paginate @dj_events %>