<% provide(:title, "Security Vulnerabilities Reported") %>

<h1>Security Vulnerabilities Reported</h1>

<p>Working in cyber security, I have an interest in web security. Here is a list of security vulnerabilities I have reported.</p>

<section class="row">
	<article class="col-md-6">
		<h3><span class="label label-success">FIXED</span> <a href="https://www.btwholesale.com/">btwholesale.com</a></h3>
		<p><abbr title="Cross-Site Scripting">XSS</abbr> vulnerability through the search form.</p>

		<h3><span class="label label-success">FIXED</span> <a href="https://mydonate.bt.com/">mydonate.bt.com</a></h3>
		<p><abbr title="Cross-Site Scripting">XSS</abbr> vulnerability through various form elements.</p>

		<h3><span class="label label-success">FIXED</span> <a href="http://www.poundland.co.uk/">poundland.co.uk</a></h3>
		<p><abbr title="Cross-Site Scripting">XSS</abbr> vulnerability through store locator URL.</p>
	</article>
	<article class="col-md-6">
		<h3><span class="label label-danger">NOT FIXED</span> <a href="http://www.clintoncards.co.uk/">www.clintoncards.co.uk</a></h3>
		<h3><span class="label label-danger">NOT FIXED</span> <a href="http://www.clintoncards.co.uk/">www.clintoncards.co.uk</a></h3>
	</article>
</section>
