<% provide(:title, "Speak") %>
<% provide(:description, "A text to speech engine powered by Google Translate. Just add text.") %>

<h1>Speak</h1>

<p>Google get annoyed if I keep proxying requests to their text to speech engine so you can go their yourself:</p>
<h3><a href="http://translate.google.com/translate_tts?tl=en&q=cheese">translate.google.com/translate_tts?tl=en&q=cheese</a></h3>
