<% provide(:title, "Photos:: Stats") %>
<% provide(:description, "Statistics on when I upload photos on Flickr") %>

<h1>Photos</h1>
<ol class="breadcrumb">
	<li><%= link_to 'Photos', photos_path %></li>
	<li class="active">Statistics</li>
	<li><%= link_to 'Map', photos_map_path, "data-no-turbolink" => true %></li>
</ol>

<h2>Statistics</h2>

<%= render 'common/time_stats' %>

<%= link_to 'Back', photos_path %>
