<% provide(:title, 'Schedules Update') %>

<div class="page-head">
	<h2 class="pull-left">Schedules <span class="page-meta">Train schedules on trains</span></h2>

	<div class="bread-crumb pull-right">
		<%= link_to "#{icon("home")} Home".html_safe, root_path %></a> <span class="divider">/</span> <a href="#" class="bread-current">Schedules</a>
	</div>

	<div class="clearfix"></div>

</div>

<div class="matter">
	<div class="container-fluid">

		<div class="row-fluid">
			<h3>The schedules are being updated now...</h3>
		</div>

	</div>
</div>

