<% provide(:title, "Cycling Event:: Edit") %>
<% provide(:description, "Edit the cycling event: #{@cycling_event.name}.") %>

<h1>Editing Cycling Event</h1>

<%= render 'form' %>

<%= link_to 'Back', cycling_events_path %>