<% provide(:title, "Location") %>
<% provide(:description, "Track my location via my phone. If you like stalking me, this will make it very easy for you.") %>
<% provide(:map, "map") %>

<h1>Location</h1>

<p><%= @locations.first.created_at if @locations.first %> - <%= @locations.last.created_at if @locations.last %></p>
<div id="map" style="width:100%;height:600px"></div>
<%= paginate @locations %>

<%= render 'common/map_polygon' %>