<% provide(:title, "Wedding: App") %>

<div class="mdl-layout__tab-panel is-active">

  <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
    <div class="mdl-card mdl-cell mdl-cell--12-col">
      <div class="mdl-card__supporting-text">
        <h4>App</h4>
        <p>What Wedding would be complete without a custom Android app?</p>
        <p>Both fun and factual, this is not to be missed.</p>
        <p>
          <a href="https://play.google.com/store/apps/details?id=es.anjon.dyl.wedding" target="_blank" title="Android Wedding App">
            <img src="https://play.google.com/intl/en_gb/badges/images/generic/en_badge_web_generic.png" alt="Android Play Store" style="max-width:80%">
          </a>
        </p>
      </div>
    </div>
  </section>

</div>
