<% provide(:title, "Wedding: Gifts") %>

<div class="mdl-layout__tab-panel is-active">

  <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
    <div class="mdl-card mdl-cell mdl-cell--12-col">
      <div class="mdl-card__supporting-text">
        <h4>Gifts</h4>
        <p>We’ve been asked what we’d like for a gift and the answer is you, at our wedding, having a great time.</p>
        <p>But, if you would really like to get us something, then we’d love it if you could help us make our trip to Japan amazing!</p>
        <p>If you would like to make a contribution to our trip, then please click here:</p>
        <p><a class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" href= "https://monzo.me/dylanjamesvernonjones?d=Wedding%20Gift" target="_blank">Contribute towards Japan</a>
        <p>Love,<br>Dylan and Alice<br>xxx</p>
      </div>
    </div>
  </section>

  <section>
    <div class="wedding-card-image mdl-card mdl-shadow--2dp" style="background-image:url('/images/wedding/2014.jpg')">
      <div class="mdl-card__title mdl-card--expand"></div>
      <div class="mdl-card__actions">
        <span class="wedding-card-image__filename">2014</span>
      </div>
    </div>
  </section>

</div>
