<% provide(:title, "Wedding: Gifts") %>

<div class="mdl-layout__tab-panel is-active">

  <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
    <div class="mdl-card mdl-cell mdl-cell--12-col">
      <div class="mdl-card__supporting-text">
        <h4>Gifts</h4>
        <p>We’ve been asked what we’d like for a gift and the answer is you, at our wedding, having a great time.</p>
        <p>But, if you would really like to get us something, then we’d love it if you could help us make our trip to Japan amazing!</p>
        <p>Feel free to choose something you would like to contribute to from the list below:</p>
        <p>Love,<br>Dylan and Alice<br>xxx</p>
      </div>
    </div>
  </section>

  <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
    <header class="section__play-btn mdl-cell mdl-cell--3-col-desktop mdl-cell--2-col-tablet mdl-cell--4-col-phone mdl-color--teal-100 mdl-color-text--white">
      <i class="material-icons">play_circle_filled</i>
    </header>
    <div class="mdl-card mdl-cell mdl-cell--9-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone">
      <div class="mdl-card__supporting-text">
        <h4>A Meal</h4>
        A romantic meal out at <a href="https://www.tripadvisor.co.uk/Restaurant_Review-g1066451-d8261420-Reviews-Ise_Sueyoshi-Minato_Tokyo_Tokyo_Prefecture_Kanto.html" target="_blank">Ise Sueyoshi</a> in Japan
      </div>
      <div class="mdl-card__actions">
        <a class="mdl-button" href= "https://monzo.me/dylanjamesvernonjones/5?d=Ise%20Sueyoshi" target="_blank">&pound;5</a>
      </div>
    </div>
  </section>

</div>
