<!doctype html>
<html lang="en-gb">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
	<title>Alice Jones</title>
	<meta name="description" content="Choral musiic composer and conductor">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<h1>Alice Jones</h1>
	<%= yield %>
	<%= render 'common/google_analytics' %>
</body>
</html>