<!doctype>
<html>
  <head>
    <title>Josh</title>
  </head>
  <body>
  
    <img src="https://dyl.anjon.es/josh.gif">
    <audio src="https://dyl.anjon.es/josh.acc" autoplay="autoplay" loop="loop">
  
  </body>
</html>
