<!doctype html>
<html lang="en-gb">
<head>
	<meta charset="UTF-8">
	<title>Is My Plane Delayed?</title>
	<meta name="description" content="Is my plane running late? Real-time flight times in one place.">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta property="og:title" content="Is My Plane Delayed?">
	<meta property="og:type" content="product">
	<meta property="og:url" content="http://ismyplanedelayed.com">
	<meta property="og:image" content="http://ismyplanedelayed.com/images/logo_train_200.png">
	<meta property="og:site_name" content="Is My Plane Delayed">
	<meta property="fb:admins" content="512982904">
	<link rel="shortcut icon" href="/images/train-favicon.ico" type="image/x-icon">
	<style type="text/css">
	html {
		margin:0px;
		padding:0px;
		background:#99CCFF;
		font-family:sans-serif;
		font-size:16pt;
		min-height:80%;
		color:#0F2E4C;
	}
	body {
		margin:20px;
		padding:20px;
		background:white;
		height:100%;
		text-align:center;
	}
	article {
		display:block;
		margin:5px;
		padding:5px;
		background:red;
		color: white;
		font-size:200%;
	}
	h1 {
		margin:5px;
		padding:10px;
		font-size:240%;
	}
	h2 {
		margin:5px;
		padding:10px;
		font-size:140%;
	}
	form {
		margin-top:10px;
		margin-left:10px;
		margin-right:10px;
		margin-bottom:20px;
		padding:10px;
		font-size:120%;
		background:#99CCFF;
	}
	label {
		font-size:120%;
	}
	input {
		margin:10px;
		padding:10px;
		font-size:100%;
	}
	input[type=text] {
		width:200px;	
	}
	input[type=submit] {
		margin-left:auto;
		margin-right:auto;
		display:inline-block;
		background:#9CF;
		cursor:pointer;
	}
	input[type=submit]:active {
		background:#CBE5FF;
	}
	table {
		margin-top:10px;
		margin-left:auto;
		margin-right:auto;
		margin-bottom:10px;
	}
	th {
		font-size:120%;
	}
	tr {
		margin:0px;
		padding:0px;
	}
	td,th {
		margin:5px;
		padding:10px;
	}
	img, img a {
		border:none;
	}
	a,a:hover,a:active,a:visited {
		color:inherit;
	}
	.geo {
		height:25px;
		cursor:pointer;
		margin-right:10px;
	}
	#type {
		margin:5px;
		padding:5px;
		text-align:left;
		font-size:110%;
	}
	#type a {
		margin-right:10px;
	}
	#results {
		width: 222px;
		display: inline-block;
		position: relative;
		top: 40px;
		left: -233px;
		text-align: left;
		background: white;
		margin: 0;
		padding: 0;
	}
	#results span {
		display:block;
		padding:4px;
		cursor:pointer;
	}
	#results span:hover {
		background:#aaddff;
	}
	@media only screen and (max-width:850px) {
		html {
			font-size:9pt;
		}
		body {
			margin:5px;
			padding:5px;
		}
		label {
			display:block;
		}
		input[type=text] {
			width:190px;	
		}
		input[type=submit] {
			width:220px;
			display:block;
		}
		td,th {
			margin:5px;
			padding:5px;
		}
		.geo {
			height:15px;
			margin-right:0px;
		}		
	}
	</style>
	<!--if lt IE 9>
	<script type="text/javascript" src="http://html5shim.googlecode.com/svn/trunk/html5.js\"></script>
	<!endif-->

<% if yield(:map) == "map" then %>
	<link rel="stylesheet" href="/scripts/leaflet.css">
	<!--[if lte IE 8]>
	    <link rel="stylesheet" href="/scripts/leaflet.ie.css">
	<![endif]-->
	<style type="text/css">
		.marker-cluster-small {
			background-color: rgba(181, 226, 140, 0.6);
		}
		.marker-cluster-small div {
			background-color: rgba(110, 204, 57, 0.6);
		}
		
		.marker-cluster-medium {
			background-color: rgba(241, 211, 87, 0.6);
		}
		.marker-cluster-medium div {
			background-color: rgba(240, 194, 12, 0.6);
		}
		
		.marker-cluster-large {
			background-color: rgba(253, 156, 115, 0.6);
		}
		.marker-cluster-large div {
			background-color: rgba(241, 128, 23, 0.6);
		}
		
		.marker-cluster {
			background-clip: padding-box;
			border-radius: 20px;
		}
		.marker-cluster div {
			width: 30px;
			height: 30px;
			margin-left: 5px;
			margin-top: 5px;
			text-align: center;
			border-radius: 15px;
			font: 12px "Helvetica Neue", Arial, Helvetica, sans-serif;
		}
		.marker-cluster span {
			line-height: 30px;
		}
		
		.leaflet-cluster-anim .leaflet-marker-icon, .leaflet-cluster-anim .leaflet-marker-shadow {
			-webkit-transition: -webkit-transform 0.2s ease-out, opacity 0.2s ease-in;
			-moz-transition: -moz-transform 0.2s ease-out, opacity 0.2s ease-in;
			-o-transition: -o-transform 0.2s ease-out, opacity 0.2s ease-in;
			transition: transform 0.2s ease-out, opacity 0.2s ease-in;
		}
	</style>
	<script type="text/javascript" src="/scripts/leaflet.js"></script>
	<script type="text/javascript" src="/scripts/leaflet.markercluster.js"></script>
<% end %>

	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
	<script type="text/javascript">
		function nearestAirport(type) {
			navigator.geolocation.getCurrentPosition(function(position) {
				$.ajax({
					type     : 'GET',
					dataType : 'jsonp',
					url      : 'airports.json',
					data     : 'lat='+position.coords.latitude+'&lng='+position.coords.longitude,
					success  : 
						function(data){
							$('#'+type).val(data[0].iata);
						} 
				});
			});
		}

		var ajax = new XMLHttpRequest();
		$(document).ready(function() {
			if(navigator.geolocation!=null) {
				$('#from').after('<img class="geo" src="/images/geo.png" title="Find Nearest Airport" onclick="nearestAirport('+"'"+'from'+"'"+');">');
				$('#to').after('<img class="geo" src="/images/geo.png" title="Find Nearest Airport" onclick="nearestAirport('+"'"+'to'+"'"+');">');
			}
			/*
			$('.autocomplete').bind('keyup',function(){
				if($(this).val().length < 3)
					return;
				ajax.abort();
				var id = $(this).attr('id');
				ajax = $.ajax({
					type     : 'GET',
					dataType : 'jsonp',
					url      : 'stations.php',
					data     : 'q='+$(this).val(),
					success  : 
						function(data) {
							$('#results').remove();
							$('#'+id).after('<div id="results"></div>');
							for(var i in data)
								$('#results').append('<span>'+data[i].name+'</span>');
						},
					error    :
						function (e) {
							console.log(e);
						}

				});
			});	
			*/		
		});
	</script>
	</head>
<body>
	<h1>IS MY PLANE DELAYED?</h1>
	<%= yield %>
	<p style="text-align:left;"><iframe src="https://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fismyplanedelayed.com&amp;app_id=225904187462433&amp;send=false&amp;layout=button_count&amp;width=250&amp;show_faces=true&amp;action=like" scrolling="no" frameborder="0" style="height:25px;width:270px;margin:20px;" allowTransparency="true"></iframe></p>
	<%= render 'common/google_analytics' %>
</body>
</html>