<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Luxury Lollipops</title>
		<style>
		html {
			width:100%;
			height:100%;
			font-family:sans-serif;
			text-align:center;
		}
		h1 {
			font-size:72pt;
			margin:20px;
			padding:0px;
		}
		h2 {
			font-size:30pt;
			margin:20px;
			padding:0px;
		}
		p {
			font-size:12pt;
			margin:100px;
			padding:20px;
			border-top:1px solid #eee;
			color:#555;
		}
		</style>
	</head>
	<body>
		<%= yield %>
		<%= render 'common/google_analytics' %>
	</body>
</html>
